{% load static %}
{% block head %}
	<title>baysite - login</title>
	<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}

{% block content %}
	<form method="POST">
		<label>Login Form!</label>
		<input type="text" id="username" placeholder="Username">
		<input type="password" id="password" placeholder="Password">
		<a href="{% url 'forgot' %}" id="fpassword">forgot password?</a>
		<a href="{% url 'register' %}" id="createone">create one?</a>
		<button id="submit">submit</button>
		<img src="{% static "images/pixeltrue-space-discovery.svg" %}" id="picture">
	</form>
{% endblock %}
