{% load static %}

{% block head %}
	<title>baysite - register</title>
	<link rel="stylesheet" href="{% static "css/signup.css" %}">
{% endblock %}


{% block content %}
	<form method="POST" actions="">
		{% csrf_token %}
		<h3>Sign Up!</h3>
		
		<!--<input type="text" id="username" placeholder="johndoe832">-->
		{{ form.username  }}
	
		<!--<input type="text" id="firstname" placeholder="John"></input>-->
		{{ form.firstname }}

		{{ form.lastname }}

		{{ form.email }}

		{{ form.password }}
		
		<label for="update">Send me occasional product updates and announcements.</label>
		<input type="checkbox" id="update"></input>
		
		<label for="signup">By creating an account, you agree to the Terms of Service, Privacy Policy, and Data Processing Terms.</label>
		<button id="signup">Sign Up</button>
	</form>
	{% endblock %}
