{% load static %}

{% block head %}
	<title>baysite - register</title>
	<link rel="stylesheet" href="{% static "css/signup.css" %}">
{% endblock %}


{% block content %}
	<form method="POST" actions="">
		{% csrf_token %}
		<h3>Sign Up!</h3>
		
		{{ form.username.label  }}
        {{ form.username }}
        
        {{ form.first_name.label }}
		{{ form.first_name }}

		{{ form.lastname }}

        {{ form.email.label  }}
		{{ form.email }}

        {{ form.password1.label  }}
		{{ form.password1 }}

        {{ form.password2.label  }}
        {{ form.password2 }}

		<label for="update">Send me occasional product updates and announcements.</label>
		<input type="checkbox" id="update"></input>
		
		<label for="signup">By creating an account, you agree to the Terms of Service, Privacy Policy, and Data Processing Terms.</label>
		<button type="submit" id="signup">Sign Up</button>
	</form>
	{% endblock %}
