{# Base template, with a few basic style definitions #}
{% load static %}

<!DOCTYPE html>
<html lang="en-id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    {# default block title #}
    <title>bayhaqi - {% block title %}learn website{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>
    <main class="site-content">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>