{% load static %}

<footer class="footer has-background-info-dark">
    <div class="container">
        <div class="bd-footer-links">
            <div class="columns">
                <div class="column is-one-third">
                    <p class="title is-5">
                        <a class="has-text-light" href="#">Simple Django Authentication</a>
                    </p>
                    <p class="has-text-light">
                        The contents of this website are © 2021 under the terms of the <a class="has-text-light" href="https://github.com/Kyuubang/learn-website/blob/master/LICENSE" >MIT License.</a>
                    </p><br>
                    <p class="has-text-light">
                        <span class="icon-text">
                            <span>Made with </span>
                                <span class="icon">
                                    <i class="fas fa-heart"></i>
                                </span>
                            <span>
                                by <a class="has-text-link-light" href="https://github.com/Kyuubang">Kyuubang</a>
                            </span>
                            <span class="icon">
                                <i class="fab fa-github-alt"></i>
                            </span>
                        </span>
                    </p>
                </div>
                <div class="column">
                    <p class="has-text-right">
                        <a href="https://bulma.io">
                          <img
                            src="{% static 'images/made-with-bulma.png' %}"
                            alt="Made with Bulma"
                            width="128"
                            height="24">
                        </a>
                    </p><br>
                    <p class="has-text-right">
                        <a href="https://djangoproject.com">
                            <img
                                src="{% static 'images/django-logo.svg' %}"
                                alt="Made with Django"
                                width="128"
                                height="24">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>