*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
   	background: url(../img/pexels-lorenzo-242236.jpg) no-repeat center center;
	background-size: cover;   
}

form{
	background-color: #ffffff;
	height: 200px;
	width: 450px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0; 
	border-radius: 5px;
	box-shadow: 0 20px 25px rgba(0,0,0,0.35);
	padding: 0 0; 
}

#email {
	font-family: "Poppins",sans-serif;
	position: absolute;
	top: 70px;
	left: 60px;
	width: 330px;
}
input{
	display: block;
	height: 40px;
	width: 300px;
	position: absolute;
	font-weight: 300;
	border-radius: 5px;
	padding: 12px 20px;
	background-color: #f0efeb;
	border: none;
	outline: none;

}

#labelemail {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	position: absolute;
	top: 20px;
	right: 143px;
	text-align: center;
}

#submit {
	outline: none;
	border: none;
	width: 330px;
	height: 30px;
	background-color: #f0efeb;
	position: absolute;
	bottom: 45px;
	right: 60px;
	border-radius: 5px;

}
