*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	height: 150vh;
	background:  linear-gradient(
		135deg,
		#f0efeb,
		#adb5bd
	);
}

form{
	background-color: #ffffff;
	height: 850px;
	width: 400px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 50%;
	bottom: 0; 
	border-radius: 5px;
	box-shadow: 0 20px 25px rgba(0,0,0,0.35);
}

input {
	padding-top: 10px;
   	border: none;
	display: block;
	border-bottom: 2px solid #f4f0ec;
	outline: none;
	-webkit-transition: 0.5s;
	font-family: "Poppins",sans-serif;
	font-weight: 600px;
	font-size: 14px;
	letter-spacing: 0.5px;
	width: 300px;
	position: absolute;
}

input:focus{
	border-bottom: 2px solid #c0c0c0;
	color: #696969;
}

h3 {
	font-family: "Poppins",sans-serif;
	font-size: 50px;
	padding-left: 10px;
	margin-bottom: 30px;
}

.form{
	padding-left: 20px; 
	font-family: "Poppins",sans-serif;
}

label{
	font-size: 16px;
	position: absolute;
}

label[for="username"] {
	margin-top: 0;
}
label[for="firstname"] {
	top: 50px;
}

#firstname {
	margin-top: 70px;
}
/* label[for=confirm] {
	bottom: 100px;
	left: 10px;
}


#confirm_input{
	bottom: 400px;

}
